.input-container{
    display: flex;
    justify-content: center;
    width: 80%;
    input{
        background-color: #dddddd;
        border: none;
        border-radius: 5px;
        padding-left: 10px;
        
    }
}
input:focus, input:hover{
    outline: none;
    box-shadow: inset 0 0 3px 0.5px #333333;

}