.quote-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid black; */
    .quote-prev, .quote-next{
        width: 5%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 58px;
        color: rgb(122,30,48,0.2);
    }

    .quote-prev:hover, .quote-next:hover{
        background-color: rgba(0, 0, 0, 0.1);
        color: rgb(122,30,48);
    }
        
    .quote-detail{
        width: 90%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        /* background-color: lightgray; */

        .quote-detail-tag{
            width: 90%;
            color: rgb(122,30,48);
            font-size: large;
            font-style: oblique;
            text-align: start;
        }

        .quote-detail-quote{
            color: rgb(122,30,48);
            font-size: 52px;
            text-align: center;
        }
        .quote-detail-by{
            width: 80%;
            color: rgb(122,30,48);
            text-align: end;
            font-size: 22px;
        }
    }
}