.quote-container{
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
           
    .quote-detail{
        width: 90%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;        

        .quote-detail-tag{
            width: 12%;
            text-align: center;
            color: rgb(122,30,48);
            font-size: large;
            font-style: oblique;
            border-radius: 5px;
        }

        .quote-detail-quote{
            color: rgb(122,30,48);
            font-size: 52px;
            text-align: center;
        }
        .quote-detail-by{
            width: 90%;
            color: rgb(122,30,48);
            text-align: end;
            font-size: 22px;
        }
    }
}