.home-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    background-color: #e6d084;

    .home-quote{        
        width: 100vw;
        height: 85%;
        display: flex;  
        justify-content: space-around;
        align-items: center;

        .home-quote-prev, .home-quote-next{
             width: 5vw;
             height: 100%;
             display: flex;
             justify-content: center;
             align-items: center;
             font-size: 58px;
             color: rgb(122,30,48,0.2);
        }

        .home-quote-prev:hover, .home-quote-next:hover{
            background-color: rgba(0, 0, 0, 0.1);
            color: rgb(122,30,48);
        }     
    }

    .home-footer{
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: space-between; 
        align-items: center;

        .home-footer-vote-comment, .home-footer-download-color{
            width: 30%;
            height: 100%;
            display: flex;
            justify-content: center;
            gap: 30px;
            align-items: center;  
            /* background-color: aqua;    */
            .color-picker{
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap:5px;
                width: 180px;
                height: 60%;
                background-color: #ffffff;
                box-shadow: 0 0 10px rgb(0, 0, 0);
                border-radius: 10px;
                color: rgb(0, 0, 0);
                cursor: pointer;               
            }       
        }

        .home-footer-signup{
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            font-size: small;
            color: rgb(122,30,48);

            .home-footer-signup-btn{
                text-decoration: underline;
                cursor: pointer;
            }

            .home-footer-signup-btn:hover{
                text-shadow: 2px px 10px rgb(122,30,48);
                font-size: x-large;
            }
        }

        .home-footer-vote, .home-footer-comment, .home-footer-download,.home-footer-color-background,.home-footer-color-text{
            background-color: rgba(255, 255, 255);
            box-shadow: 0 0 10px rgb(0, 0, 0);
            border-radius: 10px;
            color: rgb(0, 0, 0);
            cursor: pointer;

        }

        .home-footer-color{
            width: 18%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            .home-footer-color-background, .home-footer-color-text{
                /* background-color: blueviolet; */
                width: 20%;
                height: 40% ;
                display: flex;
                gap: 20px;
                justify-content: center;
                align-items: center;
                border-radius: 20px;
            }
        }
    }
}
.icon{
    display: flex;
    align-items: center;
    gap: 10px;    
}
@media screen and (min-width: 480px) and (max-width: 768px){
     .home-footer-vote-comment{
        height: 10px;
    }
    .home-footer-vote, .home-footer-comment{
        height: 40%;
        flex-direction: column;
    }
}